{
  "presets": [
    ["@babel/preset-env", {
      targets: { node: "current" },
    }],
    "@babel/preset-flow",
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs", {
      loose: true
    }],
    ["@babel/plugin-proposal-class-properties", {
      loose: true
    }],
    ["babel-plugin-transform-remove-console"]
  ]
}
